@{
    ViewData["Title"] = "Confirmation";
}

<h2>Confirmation</h2>
<div class="alert alert-success" role="alert">
    The customer account has been successfully created.
</div>

<div>
    <a class="btn btn-primary" asp-controller="Customer" asp-action="Search">Return to Customer List</a>
    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Go to Dashboard</a>
</div>
